# Build Folders 
ZGo-build-desktop*
build-*
release

# Local Project Files
*.user
*.user.*
*.layout

# Documents
*.doc
material
example
*.html
*.goc

# Language Files
*.qm

# Photoshop Files
*.psd

