body {
    font-family: 微软雅黑, Helvetica, Arial, sans-serif;
}

fieldset {
    width: 90%;
    border:0;
    padding:10px;
    margin-bottom: 10px;background:#EEE;
    
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;

    background:-webkit-liner-gradient(top,#EEEEEE,#FFFFFF);
    background:linear-gradient(top,#EFEFEF,#FFFFFF);

    box-shadow:3px 3px 10px #666;
    -moz-box-shadow:3px 3px 10px #666;
    -webkit-box-shadow:3px 3px 10px #666;
}

fieldset legend {
    padding:5px 10px;
    background-color:#4F709F;
    color:#FFF;

    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;

    box-shadow:2px 2px 4px #666;
    -moz-box-shadow:2px 2px 4px #666;
    -webkit-box-shadow:2px 2px 4px #666;
}

fieldset div {
    margin-top: 10px;
    margin-bottom: 10px;
}

fieldset select {
    width: 200px;
    padding-left: 10px;
    margin-right: 10px;
    font-family: 微软雅黑, Helvetica, Arial, sans-serif;
}

fieldset input[type="checkbox"] {
    margin-right: 10px;
}

fieldset span {
    font-size: 18px;
    margin-right: 10px;
}

.green_block {
    color: rgb(0, 139, 0);
}

.red_block {
    color: rgb(139, 0, 0);
}

.blue_block {
    color: rgb(0, 0, 139);
}

.yellow_block {
    color: rgb(220, 119, 0);
}

#div_display {
    font-family: 微软雅黑, Helvetica, Arial, sans-serif;
}

#div_display table {
    border:1px solid #CCC;
    border-collapse:collapse;
}

#div_display table tr:hover {
    background-color: #dddddd;
}

#div_display table th {
    width: 130px;
    height: 25px;
    border: 1px solid #CCC;
    background-color: #eeeeee;
}

#div_display table td {
    width: 130px;
    height: 25px;
    text-align: center;
    border: 1px solid #CCC;
    background-color: white;
}

#div_display .relativeHead {
    position: absolute;
    top: 0px;
    left: 0px;
}

#div_display .absoluteHead {
    position: fixed;
    top: 0px;
}

#div_display .absoluteTail {
    position: fixed;
    bottom: 0px;
}

#div_spacing {
    position: relative;
}