body {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 16px;
}

table {
    border: 0;
    width: 100%;
}

li {
    padding-top: 5px;
    color: rgb(100, 89, 186);
    margin-left: 20px;
}

.header1 {
    height: 50px;
    font-size: 30px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    line-height: 65px;
    border-bottom: 2px solid rgb(23, 103, 171);
}

.header1_num {
    display: inline-block;
    width: 50px;
    height: 100%;
    color: #FFFFFF;
    text-align: right;
    background-color: rgb(23, 103, 171);
}

.header1_text {
    color: rgb(23, 103, 171);
    padding-left: 10px;
}

.header2 {
    font-size: 24px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    color: rgb(23, 103, 171);
    border-left: 2px solid rgb(23, 103, 171);
    margin-top: 20px;
    padding-left: 10px;
}

.header3 {
    font-size: 18px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(23, 103, 171);
}

.table_line {
    width: 50px;
    text-align: right;
    color: #999999;
    background-color: #dddddd;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.table_code_odd {
    text-align: left;
    padding-left: 10px;
    background-color: #f7f7f7;
}

.table_code_even {
    text-align: left;
    padding-left: 10px;
    background-color: #eeeeee;
}

.code_keyword {
    font-weight:bold;
}

.code_number {
    color: #0086b3;
}

.code_system {
    color: #0086b3;
}

.code_string {
    color: #dd1144;
}

.code_comment {
    color: #999988;
}

.code_field {
    margin-left: 30px;
    margin-top: 10px;
}

.code_field legend {
    color: rgb(199, 86, 88);
}

#compose_index {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 10px;
    font-family: "Microsoft YaHei";
}

#compose_index a {
    text-decoration: none;
    color: rgb(13, 23, 41);
}

.index_title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.index_header1 {
    display: inline-block;
    padding-left: 10px;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
}

.index_header2 {
    padding-left: 35px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.index_header3 {
    padding-left: 65px;
    font-size: 18px;
    padding-top: 5px;
}
